<mat-list>
  <mat-list-item>
    <p mat-line style="font-weight: 600">Task</p>
    <h3 style="margin-right: 50px" class="headCells">Start Date</h3>
    <h3 style="margin-right: 50px" class="headCells">Due Date</h3>
    <h3 style="margin-right: 35px" class="headCells">Priority</h3>
    <button mat-raised-button>New Task</button>
  </mat-list-item>
  <mat-list-item *ngFor="let task of taskService.tasks | async">
    <p mat-line>{{ task.description }}</p>
    <h3 class="cells">
      {{ task.start_date | slice: 0:10 }}
    </h3>
    <h3 class="cells">
      {{ task.end_date | slice: 0:10 }}
    </h3>
    <button class="cellButtons" mat-button color="primary">
      {{ task.priority }}
    </button>
    <button
      class="cellButtons"
      mat-icon-button
      color="warn"
      aria-label="delete icon"
      (click)="onDelete(task._id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
