<mat-toolbar color="primary">
  <h2>Envisage</h2>
  <button mat-button routerLink="/">Conversations</button>
  <button mat-button routerLink="/tasks">Tasks</button>
  <span style="flex: 1 1 auto"></span>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login">
    Login
  </button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/register">
    Register
  </button>
  <button *ngIf="auth.isAuthenticated" mat-button routerLink="/user">
    Welcome {{ auth.name }}
  </button>
  <button
    (click)="auth.logout()"
    *ngIf="auth.isAuthenticated"
    mat-button
    routerLink="/register"
  >
    Logout
  </button>
</mat-toolbar>
