<h1>REGISTER</h1>
<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        style="width: 340px"
        [ngClass]="{
          error: inValid('firstName')
        }"
        formControlName="firstName"
        placeholder="First Name"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <input
        matInput
        style="width: 340px"
        [ngClass]="{
          error: inValid('lastName')
        }"
        formControlName="lastName"
        placeholder="Last Name"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <input
        matInput
        style="width: 340px"
        [ngClass]="{
          error: inValid('email') || form.errors?.userExists
        }"
        type="email"
        formControlName="email"
        placeholder="Email"
      />
    </mat-form-field>
    <span style="color: black" *ngIf="form.errors?.userExists"
      >This email is taken!</span
    ><br />
    <mat-form-field>
      <input
        matInput
        style="width: 340px"
        [ngClass]="{
          error: inValid('password')
        }"
        type="password"
        formControlName="password"
        placeholder="Password"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <input
        matInput
        style="width: 340px"
        [ngClass]="{
          error: inValid('confirmPassword')
        }"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      /> </mat-form-field
    ><br />
    <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
    <br />
    <button mat-raised-button color="primary">Register</button>
    <br />
  </form>
</mat-card>
